<div class="club-section">
  <div class="club-crest">
    <img class="club-crest" src="<%= club.crest_url %>" alt="<%= club.name %> crest">
  </div>

  <div class="club-data-area club-info">
    <div class="club-data name light-grey">
      <%= club.name %>
    </div>
    <div class="club-data">

      <% if club.next_fixture %>

        <%= club.next_fixture[:date].strftime('%a, %b %e') %> v.
        <% opposing_club = club.next_fixture[:opponent] %>
        <%= opposing_club.name %>
        <span class="opponent"><%= ("(" + opposing_club.owners.first.name + ")") if opposing_club.owners.any? %></span>
      <% else %>
        No fixture data yet.
      <% end %>

    </div>
  </div>

  <div class="club-data-area club-points">
      <span class="sub-points"><%= club.points || 0 %></span>
      <br>
      <span class="tiny-text">PTS</span>
  </div>

</div>
