<p>
  <em>- NEXT LEAGUE OPPONENTS -</em>
</p>
<% inter_league_fixtures.each do |fixture| %>
  <p>
    <a href="/owners/<%= fixture.opp_owner.id %>">
      <strong><%= fixture.opp_owner.name %></strong><br>
    </a>
    <%= fixture.home_club.name %> v. <%= fixture.away_club.name %><br>
    <%= fixture.date.strftime('%a, %b %e') %> <span class="next-fixture-date">
      <%= fixture.date.to_i * 1000 %>
    </span>
  </p>
<% end %>