<div class="owner-section">

  <div class="left-wrapper">
    <div class="owner-name">
      <a href="owners/<%= owner.id %>"><%= owner.name %></a>
    </div>
    <div class="point-data">
      <%= owner.points %> POINTS (<%= ordinal_ranking(owner.rank) %>)
    </div>
    <div class="profile-pic">
      <img class="profile" src="<%= owner.avatar || "/assets/leo.jpg" %>">
    </div>
  </div>

  <% if owner.clubs.any? %>

    <div class="club-area">
      <%

      # USE THIS TO SWITCH BACK TO RANKING BY POINTS
      # clubs_ranked_by_points = owner.clubs.sort_by { |club| club.points }.reverse!
      # clubs_ranked_by_points.each do |club|

      clubs_ranked_by_next_fixture = owner.clubs.sort_by { |club| club.next_fixture[:date] }
      clubs_ranked_by_next_fixture.each do |club|

      %>

          <%= render partial: "club_data", locals: { club: club } %>

      <% end %>
    </div>

  <% end %>

</div>