<div class="owner-section">

  <div class="left-wrapper">
    <div class="owner-name">
      <a href="owners/<%= owner.id %>"><%= owner.name %></a>
    </div>
    <div class="point-data">
      <%= owner.points %> POINTS (<%= ordinal_ranking(owner.rank) %>)
    </div>
    <div class="profile-pic">
      <% if owner.avatar %>
        <img class="profile" src="<%= owner.avatar %>">
      <% else %>
        <img class="profile" src="/assets/leo.jpg">
      <% end %>
    </div>
  </div>

  <% if owner.clubs.any? %>

    <div class="club-area">
      <%

      clubs_ranked_by_next_fixture = owner.clubs.sort_by { |club| club.next_fixture[:date] }
      clubs_ranked_by_next_fixture.each do |club|

      %>

          <%= render partial: "club_data", locals: { club: club } %>

      <% end %>
    </div>

  <% end %>

</div>