<div class="fixtures-outer">
<!--     <span class="column-header title-heading">
      UPCOMMING LEAGUE FIXTURES
    </span> -->
  <h2>
    UPCOMMING LEAGUE FIXTURES
  </h2>
  <div class="fixtures-inner">
    <%
      champ_fixture_listed = false
    %>
    <% @fixtures. each_with_index do |fixture, index| %>

      <div class="fixtures-club-info left <%= "gray" if index.odd? %>">
        <% if index == 0 %>
          <span class="column-header"><%= "HOME" %></span><br>
        <% end %>
        <div class="mini-profile">
          <img class="mini-profile" src="<%= fixture.home_owner.avatar || "/assets/leo.jpg" %>">
        </div>
        <div class="fixtures-names">
          <span class="fixtures-owner-name">
            <% if fixture.home_owner == champ %>
              <span class="star-simple">&#9733</span>
            <% end %>
            <a href="/owners/<%= fixture.home_owner.id %>">
              <%= fixture.home_owner.name %>
            </a>
            <% if fixture.home_owner == champ %>
              <span class="star-simple">&#9733</span>
            <% end %>
          </span><br>
          <%= fixture.home_club.name %>
        </div>
        <img class="mini-crest" src="<%= fixture.home_club.crest_url %>">
      </div>

      <%
        belt = false
        if (fixture.home_owner == champ or fixture.away_owner == champ)
          if !champ_fixture_listed
            belt = "belt"
            champ_fixture_listed = true
          else
            belt = "sub-belt"
          end
        end
      %>
      <div class="fixtures-date">
        <% if index == 0 %>
          <br>
        <% end %>
        <span class="<%= belt %>">
          &nbsp<%= fixture.date.strftime('%a, %b %e') %>&nbsp<br>
          &nbsp<span class="next-fixture-date">
            <%= fixture.date.to_i * 1000 %>
          </span>&nbsp
        </span>
      </div>

      <div class="fixtures-club-info  <%= "gray" if index.odd? %>">
        <% if index == 0 %>
          <span class="column-header"><%= "AWAY" %></span><br>
        <% end %>
        <img class="mini-crest" src="<%= fixture.away_club.crest_url %>">
        <div class="fixtures-names">
          <span class="fixtures-owner-name">
            <% if fixture.away_owner == champ %>
              <span class="star-simple">&#9733</span>
            <% end %>
            <a href="/owners/<%= fixture.away_owner.id %>">
              <%= fixture.away_owner.name %>
            </a>
            <% if fixture.away_owner == champ %>
              <span class="star-simple">&#9733</span>
            <% end %>
          </span><br>
          <%= fixture.away_club.name %>
        </div>
        <div class="mini-profile">
          <img class="mini-profile" src="<%= fixture.away_owner.avatar || "/assets/leo.jpg" %>">
        </div>
      </div>

    <% end %>
  <p><br>
    <span class="star-simple">&#9733</span> <strong>Title Holder</strong> <span class="star-simple">&#9733</span> | <span class="belt">&nbspTitle Match </span>&nbsp | <span class="sub-belt"> Poss. Title Match </span> | Reg. H-2-H
  </p>
  </div>
</div>
