
<div>
  <%= render partial: "owner_data", locals: { owner: @owner } %>
</div>

<div class="dashboard-outer">

  <div class="dashboard-inner">
    <div class="show-dashboard-button">
      <button class="show-dashboard">Show Dashboard</button>
    </div>
    <div class="dashboard">

      <div class="change-avatar">
        <p>
          <a class="change-avatar" href="/owners/<%= @owner.id %>">
            <strong>CHANGE AVATAR</strong>
          </a>
        </p>
        <div class="change-avatar-form">
          <p>
            New Avatar URL:
          </p>
          <form method="POST" action="/update/avatar/<%= @owner.id %>">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="text" name="image_url">
            <input type="submit" value="Submit">
          </form>
          <p>
            <form method="POST" action="/update/avatar/<%= @owner.id %>">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input type="hidden" name="restore">
              <input type="submit" value="Restore to Leo">
            </form>
          </p>
        </div>
      </div>

      <div class="schedule-wrapper">
        <div class="schedule">
          <p>
            <strong>SCHEDULE</strong>
          </p>
          <p>
            <a class="trigger-dashboard-fixtures" href="/" data-owner_id="<%= @owner.id %>">
              VIEW FIXTURES VS LEAGUE
            </a><br>
            or click a club name above (coming soon).
          </p>
          <div class="dashboard-loading">
            <p><br>
              <em>Loading...</em>
            </p>
          </div>
          <!-- This will contain fixture info, e.g. the '_dashboard_fixtures' partial -->
          <div class="dashboard-fixtures"></div>
        </div>
      </div>

    </div>
  </div>
</div>
