
<div class="sidebets-outer">
<!--   <span class="column-header">
    SIDE BET STANDINGS
  </span> -->

  <div class="sidebets-inner">

    <div class="sidebets-column">
      <img class="medium-image" src="/assets/monster.png">
      <span class="medium-text">
        &nbspHEADS
      </span>

      <div class="sidebets-owners-wrapper">
        <% @owners_by_heads.each_with_index do |owner, index| %>
          <div class="sidebets-heads-clickable">

            <div class="sidebets-owner owner-heads <%= "light-grey" if index.odd? %>">
              <div class="sidebets-rank">
                <%= ordinal_ranking(owner.head_rank) %>
              </div>
              <div class="sidebets-name">
                <%= owner.name %>
              </div>
              <div class="sidebets-number">
                <%= owner.heads.count %>
              </div>
            </div>
            <div class="heads-hidden">
              <%
                if owner.heads.any?
                  owner.heads.each do |head|
                    losing_club = head.losing_club
              %>
                <div class="head-listing">
                  <strong><%= losing_club.owners.first.name %></strong>
                  | <%= losing_club.name %> -
                  <%= head.date.strftime('%a, %b %e')%>
                </div>
              <%
                  end
                else
              %>
                <div class="head-listing">
                  No heads yet.
                </div>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>

    </div>

    <div class="sidebets-column right-column">
      <img class="medium-image" src="/assets/soccer_ball.png">
      <span class="medium-text">
        &nbspGOALS (<%= goals_month %>)
      </span>

      <div class="sidebets-owners-wrapper">
        <% @owners_by_goals.each_with_index do |owner, index| %>
          <div class="sidebets-owner <%= "light-grey" if index.odd? %>">
            <div class="sidebets-rank">
              <%= ordinal_ranking(owner.goal_rank) %>
            </div>
            <div class="sidebets-name">
              <a href="/owners/<%= owner.id %>">
                <%= owner.name %>
              </a>
            </div>
            <div class="sidebets-number">
              <%= owner.goals_this_month %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>

<div class="footer">
</div>
