<!DOCTYPE html>
<html>
<head>
  <title>KOR-League</title>
  <%= favicon_link_tag 'favicon.ico' %>


<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-wrapper">
    <a href="/">
      <h1>
        FOUR CLUB
      </h1>
    </a>
    <h2>
      EURO FANTASY
    </h2>
    <div class="header-links">
      <div class="line">
        <a href="/fixtures">
          <span class="column-header">
           FIXTURES
          </span>
        </a>
        <span class="column-header">
        &nbsp | &nbsp
        </span>
        <a href="/sidebets">
          <span class="column-header">
           SIDE BETS
          </span>
        </a>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
